

.row-size{
  height: 93vh;
}

.clock{
  font-size: 6em;
}

.img{
  height: 10vh!important;
  width: 100vw!important;
  z-index: 1;
}

.img-2{
  min-width: 100vw;
  min-height: 100vh;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow-x:hidden;
  overflow-y: hidden;
}

.main-style{
  z-index: 0;
  transform: translateY(-50px);
  max-height: 100vh;
  max-width: 100vw;
}

.form-border {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0%;
  background: none;
  border-color: white;
}

.form-border:focus{
  border: none!important;
}

input:focus{
  background-color: transparent!important;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0%;
  outline: none!important;
}


input::placeholder{
  color: rgb(252, 244, 244)!important;
}

.text-shadow{
  text-shadow: 2px 2px 3px rgb(31, 29, 29);
}

.modal-style{
  max-height: 70vh!important;
  max-width: 70vh!important;
  background-color: rgba(66, 86, 104, 0.336)!important;
  backdrop-filter: blur(5px)!important;
  border-bottom-right-radius: 10px;
}


.temp:hover{
  background: none!important;
  outline: none!important;
}

.margin{
  margin-top: 8em;
}

